.activity-icon {
	float: right;
}


.list-group-item { 
	height: 70px;
}

.list-group-item-heading {
	height: 100%;
}

.center {
    padding: 10px;
}


h1, h2, h3, .h1, .h2, .h3 {
    margin-top: 0;
    margin-bottom: 0;
}


.input-group-text{
	color: #000000;
}