<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="../../favicon.ico"> -->

		<title>HajConnect</title>

		<!-- Bootstrap core CSS -->
		<link href="{!! asset('bootstrap/css/bootstrap.min.css') !!}" rel="stylesheet">
		
		<!-- Icon font -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- App  CSS -->
		<link href="{!! asset('assets/css/app.css') !!}" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

	 

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="list-group"> 
						<a href="#" class="list-group-item active"> 
							<h4 class="list-group-item-heading">
								<div class="col-md-9">
									عرفات 
									Arafat
									<p class="list-group-item-text">
										انت هنا You are Here
									</p> 
								</div>
								<div class="col-md-3 center">
									<i class="fa fa-bullseye"></i>
								</div>
							</h4> 
						</a> 

						<a href="#" class="list-group-item "> 
							<h4 class="list-group-item-heading">
								<div class="col-md-9">
									إلى مزدلفة 
									To Muzdalifah
									<p class="list-group-item-text">
										الرحلة القادمة Next trip
									</p> 
								</div>
								<div class="col-md-3 center">
									<h1> 07:30 PM</h1>
								</div>
							</h4> 
						</a> 

					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
		<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.js"></script>
	</body>
</html>
